<html>
  <head>
    <meta charset="utf-8"><title>APP Management Tool</title>
  </head>
  <body>
	<h2>APP Management Tool 2 + 23	</h2>
	<form action="http://click-in.appspot.com/start" method="post">
		<div>
		<h3>User Information</h3>
			<b>Name:</b> {{ admin.name }}<br />
			<b>Email:</b> {{ admin.email }}<br />
			<b>Last Login:</b> {{ admin.last_modified }}<br />
			<input type="hidden"  name="admin" value="{{ admin_key }}"/>
		</div>
		
		<div>
			<h3>Users App</h3>
			<select name="app">
				{% for app in apps %}
					<option value="{{ app.app_id }}"> {{ app.name }}</option>
				{% endfor %}
			</select>
			<br /><br />
			<div>
			<input type="submit" value="Manage App" />
			</div>
    	</div>
	</form>
  </body>
</html>