<html>
    <head>
        <title>Facebook Login Page 9</title>
        <script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="../js/constants.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			//Italy Flight Competition 2
			var app_id = '125489974194774'
            FB.init({
                appId: app_id,
                cookie: true,
                status: true,
                xfbml: true
            });
        </script>
        <script>
            var saveCurrentUser = function(response){
                if (response.session) {
                    var user_id = response.session.uid;
                    var access_token = response.session.access_token;
					document.write('<b>App ID:</b> ' + app_id + "<br />");
                    document.write('<b>Hey, User ID </b> ' + user_id + "<br />");
                    document.write('<b>Access Token:</b> ' + access_token + "<br />");
                    $.post(__SITE_DOMAIN__ + '/allow', {
						app_id: app_id,
                        user_id: user_id,
                        access_token: access_token
                    });
                }
                else {
                    //alert("No user session available, someone you dont know.")
                }
            }
        </script>
		
        <!-- http://developers.facebook.com/docs/authentication/permissions/ -->
        <fb:login-button perms="email,publish_stream,user_online_presence,offline_access" 
						onlogin="FB.getLoginStatus(saveCurrentUser);">
            Allow the App
        </fb:login-button>
    </body>
</html>
