<html>
  <head>
  	<title>Grouping Menu</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css" />
  </head>
  <body>
  	<form name="grouping_form" action="{{ protocol }}{{ siteDomain }}/grouping" method="POST">
		<b>Gender</b><br />
			&nbsp;&nbsp;<input type="radio" name="gender" value="male" /> Male<br />
			&nbsp;&nbsp;<input type="radio" name="gender" value="female" /> Female<br />
		<br />
		
		<b>Age</b><br />
		<select name="age">
		 	 <option value="teenager">Less than 18 years old</option>
			 <option value="young_adult">From 18 to 23 years old</option>
			 <option value="adult">More than 23 years old</option>
		</select>
		<br /><br />

		<b>Country</b>&nbsp;
		<select name="countries" multiple="multiple" size="5">
		 	{% for country in countries %}
				<option value="{{ country }}">{{ country }}</option>
    		{% endfor %}     	
		</select>
		<br /><br />
		<input type="hidden"  name="app_id" value="{{ app_id }}"/>
		<input type="submit" value="Filter" />

	</form>
  </body>
</html>