<html>
  <head>
    <meta charset="utf-8"><title>Search App Data</title>
  </head>
  <body>
	<h2>Search App Data (7)</h2>
	<form action="http://click-in.appspot.com/search" method="post">
		<div>
		<h3>Admin User</h3>
			<b>Name:</b> {{ admin.name }}<br />
			<b>Email:</b> {{ admin.email }}<br />
			<b>Last Login:</b> {{ admin.last_modified }}<br />
			<input type="hidden"  name="admin" value="{{ admin_key }}"/>
		</div>
		
		<div>
			<h3>Select App</h3>
			<select name="app">
				{% for app in apps %}
					<option value="{{ app.app_id }}"> {{ app.name }}</option>
				{% endfor %}
			</select>
			<br /><br />
			<div>
			<input type="submit" value="Search This App" />
			</div>
    	</div>
	</form>
  </body>
</html>